body {
    margin: 0;
}

.content-container {
    width: 40%;
    margin: 0 auto;
}

.author {
    text-align: center;
    font-weight: 800;
}

h1, h2 {
    text-align: center;
}

h1 {
    margin-bottom: 0px !important;
    font-size: 50px;
    text-transform: uppercase;
    color: #19a8b4;
}

h2 {
    font-size: 30px !important;
    margin-top: 0px !important;
}

h3 {
    font-size: 16px;
    margin-top: 0px !important;
    text-align: center;
}

path {
    stroke: white;
    stroke-width: 0.25px;
    fill: grey;
  }

.d3-tip {
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
}

#coral-map, #coral-line {
    width: 68%;
}

#coral-map, #coral-map-explain {
    float: left;
}

#coral-line, #coral-line-explain {
    float: left;
}

#coral-line-explain {
    width: 30%;
    height: 480px;
}

#coral-line {
    text-align: right;
}

#coral-map-explain, #coral-line-explain {
    overflow: auto;
    width: 30%;
    padding-left: 1%;
    padding-right: 1%;
}

#coral-map-explain {
    height: 560px;
}

#coral-map-slider, #range-desc {
    text-align: center !important;
}

.simulation {
    overflow: auto;
    border: 1px solid #A8A8A8;
    border-radius: 0px 25px 25px 0px;
    background-color: #DEDEDE;
    width: 920px;
    height: 464px;
}

#home {
    background-image: url("../images/home.jpg");
    height: 550px;
    background-size: cover;         
    background-repeat: no-repeat;
    background-position: center center;  
}

#coral-images {
    margin: 0 auto;
}

.images {
    text-align: center;
}

.coral-container {
    text-align: center;
    display: inline-block;
}

path.line {
    fill: none;
    stroke: #666;
    stroke-width: 1.5px;
}

path.area {
    fill: #e7e7e7;
}

.axis {
    shape-rendering: crispEdges;
}

.x.axis line {
    stroke: #fff;
}

.x.axis .minor {
    stroke-opacity: .5;
}

.x.axis path {
    display: none;
}

.y.axis line, .y.axis path {
    fill: none;
    stroke: #000;
}

/* grid */
#grid-container {
    margin: 0 auto;
    font-size: 26px;
    display: 'inline-block';
}

#grid-bg {
    margin: 0 auto;
    width: 522px;
    height: 462px;
    position: relative;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    vertical-align: middle;
    text-align: center;
    background-color: #66a4d6;
    float: left;
}

#grid > div {
    width: 528px;
    height: 44px;
}

#grid > div > div {
    width: 44px;
    height: 44px;
    float: left;
    text-align: center;
}

#grid-bg > div > div {
    position: absolute;
    text-align: center;
    background-color: #66a4d6;
}

/* editor */
#editor-container {
    width: 360px;
    height: 440px;
    display: 'inline-block';
    float: left;
    overflow: auto;
    padding: 0px 10px;
    margin-top: 14px;
}

.text-field {
    width: 45% !important;
}

div.tooltip {	
    position: absolute;			
    text-align: center;			
    width: 100px;					
    height: 25px;					
    padding: 2px;				
    font: 12px sans-serif;		
    background: rgba(0, 0, 0, 0.8);
    color: #ffffff;
    border: 0px;		
    border-radius: 2px;			
    pointer-events: none;			
}